---
import Title from './common/Title.astro'
import Github from '../svg/Github.astro'
import { pbImagePath } from '../helpers/images'
import { ArrowTopRightOnSquareIcon, CodeBracketSquareIcon } from '@heroicons/react/16/solid'

const proyects: any = []
---

<section id="proyects" class="mb-40">
  <Title title="Proyects" button={{ label: <Github />, href: 'https://www.github.com/armanyfelix' }} />
  <div class=" mx-5 flex flex-wrap items-start justify-center gap-5 xl:mx-40">
    {proyects.length
      ? proyects.map((p: any, i: number) => (
          <div class="card glass max-h-[500px] max-w-[400px]">
            <figure>
              <div class="carousel-center carousel w-auto items-start">
                {p.images?.map((img: string, j: number) => (
                  <div
                    id={`proyect-${i}.${j}`}
                  class={`group/item carousel-item relative mx-auto max-h-[210px] items-start justify-center ${
                    p.type === 'mobile' ? 'w-1/4 border border-black' : 'w-auto'
                  }`}
              >
                  <img
                    src={pbImagePath(p, img)}
                    class="object-fit max-h-[200px] object-center"
                    width={400}
                    height={200}
                    alt=""
                  />
                  {p.type === 'web' && (
                    <div class="max-w-5/6 absolute left-5 right-5 top-1/2 mx-auto flex -translate-y-1/2 transform justify-between opacity-0 duration-300 ease-in group-hover/item:opacity-100">
                      <a
                        href={`#${
                          j === 0 ? `proyect-${i}.${p.images?.length - 1}` : `proyect-${i}.${j - 1}`
                        }`}
                        class="btn btn-circle"
                      >
                        ds
                      </a>
                      <a
                        href={`#${
                          j + 1 === p.images.length ? `proyect-${i}.0` : `proyect-${i}.${j + 1}`
                        }`}
                        class="btn btn-circle"
                      >
                        fsdf
                      </a>
                    </div>
                  )}
                </div>
              ))}
            </div>
          </figure>
          <div class="card-body max-h-[260px] min-h-[260px] pt-4">
            <h2 class="card-title">{p.name}</h2>
            <p class="overflow-auto">{p.description}</p>
            <div class="card-actions justify-end">
              {p?.source_url && (
                <a href={p.source_url} class="btn btn-primary px-3">
                  <CodeBracketSquareIcon class="h-6 w-6" />
                </a>
              )}
              <a href={p.url} target="_blank" class="btn btn-primary px-3">
                <ArrowTopRightOnSquareIcon class="h-6 w-6" />
              </a>
            </div>
          </div>
        </div>
      ))
    : ''}
</div>
</section>
